<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL4q3PFddaGgpiRIlEN4W2tPz4G6o_aW8</string>
	<key>GCM_SENDER_ID</key>
	<string>293887307215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gemglow</string>
	<key>PROJECT_ID</key>
	<string>gemglow-11a7a</string>
	<key>STORAGE_BUCKET</key>
	<string>gemglow-11a7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293887307215:ios:6ee3c8a1e8574f09f8f6ba</string>
	<key>DATABASE_URL</key>
	<string>https://gemglow-11a7a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>